<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<div class="wrapper">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width: 80%;">
    <div class="form-group">
        <label for="playerName-field">姓名<span class="red">*</span></label>
        <input class="form-control" id="playerName-field" name="realName" placeholder="请输入姓名" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="nickName-field">绰号<span class="red">*</span></label>
        <input class="form-control" id="nickName-field" name="nickName" placeholder="请输入绰号" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="idCardNo-field">身份证号<span class="red">*</span></label>
        <input class="form-control" id="idCardNo-field" name="idCardNo" placeholder="请输入身份证号" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="phoneNo-field">手机号<span class="red">*</span></label>
        <input class="form-control" id="phoneNo-field" name="phoneNo" placeholder="请输入手机号" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="position-field">场上位置<span class="red">*</span></label>
        <select class="form-control" id="position-field" name="position" style="width: 120px">
            <option>请选择</option>
            <option value="1">中后卫</option>
            <option value="2">边后卫</option>
            <option value="3">后腰</option>
            <option value="4">前腰</option>
            <option value="5">边前卫</option>
            <option value="6">中锋</option>
            <option value="0">守门员</option>
        </select>
    </div>
    <div class="form-group">
        <label for="kitNumber-field">球衣号码<span class="red">*</span></label>
        <input class="form-control" id="kitNumber-field" name="kitNumber" placeholder="请输入球衣号码" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="height-field">身高(cm)</label>
        <input class="form-control" id="height-field" name="height" placeholder="请输入身高" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="weight-field">体重(kg)</label>
        <input class="form-control" id="weight-field" name="weight" placeholder="请输入体重" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="preferredFoot-field">擅长足</label>
        <select class="form-control" id="preferredFoot-field" name="preferredFoot" style="width: 90px">
            <option value="1" selected="selected">右脚</option>
            <option value="2">左脚</option>
        </select>
    </div>
    <div class="form-group">
        <label for="qqNo-field">QQ号</label>
        <input class="form-control" id="qqNo-field" name="qqNo" placeholder="请输入QQ号" style="width: 50%;"/>
    </div>
    <div class="form-group">
        <label for="wechatNo-field">微信号</label>
        <input class="form-control" id="wechatNo-field" name="wechatNo" placeholder="请输入微信号" style="width: 50%;"/>
    </div>
    <input type="submit" value="保存" style="padding: 10px"/>
</form>

</div>
</body>
</html>