<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div id="app">

<div class="header">
    <h3 th:text="${title}"></h3>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
    <div class="box box-solid">
        <!-- 按钮图标 -->
        <div class="box-header">
            <a href="javascript:void(0)" class="tool-a" ><i class="glyphicon glyphicon-plus"></i></a>
            <a href="javascript:void(0)" class="tool-a" ><i class="glyphicon glyphicon-minus"></i></a>
            <a href="javascript:void(0)" class="tool-a" ><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm pull-right search" >查询</a>
            <input class="form-control pull-right searchInput" v-model="keyword" placeholder="请输入关键字"/>
        </div>

        <!-- 表格 -->
        <table class="table table-hover" id="tblPlayerList">
            <thead>
                <tr>
                    <th><input type="checkbox" id="cbxCheckAll" /></th>
                    <th>姓名</th>
                    <th>绰号</th>
                    <th>身份证号</th>
                    <th>手机号</th>
                    <th>球衣号码</th>
                    <th>场上位置</th>
                    <th>擅长足</th>
                    <th>身高(cm)</th>
                    <th>体重(kg)</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player : ${players}">
                    <td><input type="checkbox" /></td>
                    <td th:text="${player.realName}"></td>
                    <td th:text="${player.nickName}"></td>
                    <td th:text="${player.idCardNo}"></td>
                    <td th:text="${player.phoneNo}"></td>
                    <td th:text="${player.kitNumber}"></td>
                    <td th:switch="${player.position}">
                        <span th:case="1">中后卫</span>
                        <span th:case="2">边后卫</span>
                        <span th:case="3">后腰</span>
                        <span th:case="4">前腰</span>
                        <span th:case="5">边前卫</span>
                        <span th:case="6">中锋</span>
                        <span th:case="0">守门员</span>
                    </td>
                    <td  th:switch="${player.preferredFoot}">
                        <span th:case="1">右脚</span>
                        <span th:case="2">左脚</span>
                    </td>
                    <td th:text="${player.height}"></td>
                    <td th:text="${player.weight}"></td>
                    <td>
                        <a class="btn btn-default btn-sm">查看</a>
                        <button type="button" class="btn btn-primary btn-sm" >修改</button>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</div>
</div>
</div>
</div>



</body>
</html>