<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div id="app">

<div class="header">
    <h3 th:text="${title}"></h3>
</div>

<!-- 主界面 -->
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
    <div class="box box-solid">
        <!-- 按钮图标 -->
        <div class="box-header">
            <div class="col-md-4">
                <a href="javascript:void(0)" class="tool-a" v-on:click="addMatch"><i class="glyphicon glyphicon-plus"></i></a>
                <a href="javascript:void(0)" class="tool-a" v-on:click="delMatch"><i class="glyphicon glyphicon-minus"></i></a>
                <a href="javascript:void(0)" class="tool-a" v-on:click="refresh"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm pull-right search" v-on:click="query">查询</a>
                <input class="form-control pull-right searchInput" v-model="keyword" placeholder="请输入查询关键字"/>
                <div class="btn-group pull-right" style="padding-right: 10px">
                    <button type="button" class="btn btn-primary btn-sm" id="btnSort" v-on:click="toggleDirection()">排序↓</button>
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <!--<li><a href="javascript:void(0)" v-on:click="sort('seasonStartDate')">开始日期</a></li>
                        <li><a href="javascript:void(0)" v-on:click="sort('matchType')">比赛类型</a></li>
                        <li><a href="javascript:void(0)" v-on:click="sort('ourRank')">我队名次</a></li>-->
                    </ul>
                </div>
            </div>

        </div>
        <!-- 表格 -->
        <table class="table table-hover table-striped" id="tblMatchList">
            <thead>
                <tr>
                    <th><input type="checkbox" id="cbxCheckAll" v-on:click="checkAll" /></th>
                    <th>赛事</th>
                    <th>场地</th>
                    <th>对手</th>
                    <th>开球时间</th>
                    <th>比分</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in matchs">
                    <td><input type="checkbox" v-bind:value="item.id"/></td>
                    <td v-text="item.tourna.name"></td>
                    <td v-text="item.pitch"></td>
                    <td v-text="item.opponentId"></td>
                    <td v-text="item.kickOffTime"></td>
                    <td v-text="item.finalScore"></td>
                    <td>
                        <a class="btn btn-default btn-sm" v-on:click="viewMatch(item)">查看</a>
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="editMatch(item)">修改</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 分页区域 -->
        <div class="pagebar">
            <nav class="pull-left col-md-3" style="padding-left: 20px;" aria-label="Page navigation">
                <span class="pagination">共{{ total }}条记录，每页最多显示
                    <select v-model="pageSize" v-on:change="query">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>条
                </span>
            </nav>
            <nav class="pull-right" style="padding-right: 40px;" aria-label="Page navigation" v-if="pages&gt;1">
                <ul class="pagination">
                    <li><a href="javascript:void(0)" v-on:click="previousPage" aria-label="Previous"><span>&laquo;</span></a></li>
                    <li><a href="javascript:void(0)" v-on:click="tpPage(pageNo-3)" v-text="pageNo-3" v-if="pageNo-3&gt;=1"></a></li>
                    <li><a href="javascript:void(0)" v-on:click="tpPage(pageNo-2)" v-text="pageNo-2" v-if="pageNo-2&gt;=1"></a></li>
                    <li><a href="javascript:void(0)" v-on:click="tpPage(pageNo-1)" v-text="pageNo-1" v-if="pageNo-1&gt;=1"></a></li>
                    <li class="active"><a href="javascript:void(0)" v-on:click="tpPage(pageNo)" v-text="pageNo"></a></li>
                    <li><a href="javascript:void(0)" v-on:click="tpPage(pageNo+1)" v-text="pageNo+1" v-if="pageNo+1&lt;=pages"></a></li>
                    <li><a href="javascript:void(0)" v-on:click="tpPage(pageNo+2)" v-text="pageNo+2" v-if="pageNo+2&lt;=pages"></a></li>
                    <li><a href="javascript:void(0)" v-on:click="tpPage(pageNo+3)" v-text="pageNo+3" v-if="pageNo+3&lt;=pages"></a></li>
                    <li><a href="javascript:void(0)" v-on:click="nextPage" aria-label="Next"><span>&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</div>

<!-- 新增比赛窗口 -->
<div class="modal fade bs-example-modal-sm" id="modMatch" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<!-- 比赛详情主区域 -->
<div class="modal-content" id="divModMatch">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title" id="headerModMatch">比赛信息</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="formMatch">
            <div class="form-group">
                <label for="tournament-field" class="col-sm-3 control-label">所属赛事</label>
                <div class="col-sm-6">
                    <input class="form-control" id="tournament-field" name="tournament" v-model="opMatch.tourna" placeholder="请输入比赛名" />
                </div>
            </div>
            <div class="form-group">
                <label for="opponent-field" class="col-sm-3 control-label">对手球队</label>
                <div class="col-sm-6">
                    <input class="form-control" id="opponent-field" name="opponent" v-model="opponentName"
                           v-on:click="showTeamList" placeholder="请选择对手球队" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label for="pitch-field" class="col-sm-3 control-label">比赛场地</label>
                <div class="col-sm-6">
                    <input class="form-control" id="pitch-field" name="pitch" v-model="opMatch.pitch" />
                </div>
            </div>
            <div class="form-group">
                <label for="kickOffTime-field" class="col-sm-3 control-label">开球时间</label>
                <div class="col-sm-3">
                    <input class="form-control" id="kickOffTime-field" name="kickOffTime" v-model="opMatch.kickOffTime" placeholder="开球时间" readonly="readonly" />
                </div>
                <label for="finalScore-field" class="col-sm-2 control-label">最终比分</label>
                <div class="col-sm-3">
                    <input class="form-control" id="finalScore-field" name="finalScore" v-model="opMatch.finalScore" />
                </div>
            </div>
            <div class="form-group">
                <label for="ourRank-field" class="col-sm-3 control-label">加时点球</label>
                <div class="col-sm-3">
                    <input class="form-control" id="ourRank-field" name="ourRank" v-model="opMatch.ourRank" />
                </div>
                <label for="referee-field" class="col-sm-2 control-label">裁判姓名</label>
                <div class="col-sm-2">
                    <input class="form-control" id="referee-field" name="referee" v-model="opMatch.referee" />
                </div>
            </div>
            <div class="form-group">
                <label for="note-field" class="col-sm-3 control-label">备注</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="note-field" name="note" v-model="opMatch.note" rows="5"></textarea>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" v-on:click="matchModalConfirm">保存</button>
        <button type="reset" class="btn btn-default" v-on:click="resetMatchForm">重置</button>
    </div>
</div>

<!-- 选择对手球队区域 -->
<div class="modal-content" id="divTeamList">
    <div class="modal-body" style="min-height: 500px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <h6 class="box-title" style="font-size: 13px;">选择对手球队</h6>
                        <div class="box-tools pull-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" style="width: 50%;" v-model="iKeyword" placeholder="关键字" />
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm search" v-on:click="queryTeam">查询</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table id="tblTeamList" width="100%" class="table table-hover table-bordered table-striped" align="center">
                            <tr v-for="item in teams">
                                <td width="5%">
                                    <input type="radio" v-bind:value="item.id" v-on:click="selectTeam(item,$event)" />
                                </td>
                                <td v-text="item.name"></td>
                            </tr>
                            <tr v-if="teams.length==0">
                                <td colspan="4" style="text-align: center;">没有符合查询条件的球队</td>
                            </tr>
                        </table>
                        <div class="pagebar" v-if="iPages>1">
                            <nav class="pull-right" style="padding-right: 40px;" aria-label="Page navigation">
                                <ul class="pagination">
                                    <li><a href="javascript:void(0)" v-on:click="previousiPage" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li><a href="javascript:void(0)" v-on:click="tpiPage(pageNo-1)" v-text="iPageNo-1" v-if="iPageNo-1&gt;=1"></a></li>
                                    <li class="active"><a href="javascript:void(0)" v-on:click="tpiPage(pageNo)" v-text="iPageNo"></a></li>
                                    <li><a href="javascript:void(0)" v-on:click="tpiPage(pageNo+1)" v-text="iPageNo+1" v-if="iPageNo+1&lt;=iPages"></a></li>
                                    <li><a href="javascript:void(0)" v-on:click="nextiPage" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-reset" v-on:click="backModForm">返回</button>
        <button type="button" class="btn btn-primary" v-on:click="confirmTeam">确定</button>
    </div>
</div>

</div>
</div>

<!-- 确认提示窗口 -->
<div class="modal fade" id="confirmModal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>×</span>
                </button>
                <h4 class="modal-title">确认提示框</h4>
            </div>
            <div class="modal-body">
                <p>确认删除选择的比赛?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="confirmButton">确定</button>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data:{
            pageNo: 1,
            pageSize: 10,
            pages: 0,
            total: 0,
            keyword: "",
            iPageNo: 1,
            iPageSize: 15,
            iPages: 0,
            iKeyword: "",
            sortKey: "mtime",
            direction: "DESC",
            operate: 'view',
            opMatch: {},
            matchs: [],
            teams: [],
            opponentId: "",
            opponentName: ""
        },
        // 在 `methods` 对象中定义方法
        methods: {
            //日期格式处理
            dateFmt: function (dateString) {
                if (!dateString) return '';
                dateString = dateString.toString();
                return dateString.substr(0,10);
            },
            //关键字查询
            query : function() {
                this.pageNo = 1;
                this.loadMatchs();
            },
            //排序
            sort : function(sortKey) {
                this.sortKey = sortKey;
                this.query();
            },
            //排序方向切换
            toggleDirection : function() {
                if(this.direction === "ASC") {
                    this.direction = "DESC";
                    $("#btnSort").html("排序↓");
                }
                else{
                    this.direction = "ASC";
                    $("#btnSort").html("排序↑");
                }
            },
            //加载比赛列表
            loadMatchs : function() {
                var param = {
                    sortKey: this.sortKey,
                    direction: this.direction,
                    keyword: this.keyword,
                    pageNo: this.pageNo-1,//页面的pageNo以1为起始，后端是以0为起始
                    pageSize: this.pageSize
                };
                CommonOperation.ajaxRequest("queryMatch.html",param,{
                    func: function(result){
                        var page = result.obj||{};
                        vm.pages = page.totalPages;
                        vm.total = page.totalElements;
                        vm.matchs.splice(0,vm.matchs.length);
                        var content = page.content;
                        $.each(content, function() {
                            this.seasonStartDate = vm.dateFmt(this.seasonStartDate);
                            this.seasonEndDate = vm.dateFmt(this.seasonEndDate);
                            vm.matchs.push(this);
                        });
                    },
                    errorFunc: function(error){
                        alert("加载比赛列表出现错误！"+error.toString());
                    },
                    element: $("body")
                });
            },
            //刷新列表
            refresh: function(){
                this.pageNo = 1;
                this.keyword = "";
                this.loadMatchs();
                $("#tblMatchList tbody").find("input[type='checkbox']").prop("checked",false);
            },
            //分页导航
            tpPage: function(page){
                this.pageNo = page;
                this.loadMatchs();
            },
            previousPage: function(){
                if(this.pageNo===1) return;
                this.pageNo = this.pageNo-1;
                this.loadMatchs();
            },
            nextPage: function(){
                if(this.pageNo===this.pages) return;
                this.pageNo = this.pageNo+1;
                this.loadMatchs();
            },
            tpiPage: function(page){
                this.iPageNo = page;
                this.loadTeamList();
            },
            previousiPage: function(){
                if(this.iPageNo==1) return;
                this.iPageNo = this.iPageNo-1;
                this.loadTeamList();
            },
            nextiPage: function(){
                if(this.iPageNo==this.iPages) return;
                this.iPageNo = this.iPageNo+1;
                this.loadTeamList();
            },
            //选中所有checkbox
            checkAll: function(){
                var checked = $("#cbxCheckAll").prop("checked");
                $("#tblMatchList tbody").find("input[type='checkbox']").prop("checked",checked);
            },
            //重置比赛表单
            resetMatchForm: function(){
                document.getElementById("formMatch").reset();//每次打开窗口时清空上次录入的信息
            },
            //弹出"查看比赛资料"窗口
            viewMatch: function(match){
                this.opMatch = match;
                this.operate = "view";
                $('#headerModMatch').html("查看比赛资料");
                $('#modMatch').modal('show');
                $('#modMatch').find('input','select','textarea').attr("disabled","disabled");
                $('#modMatch').find('.modal-footer').hide();
            },
            //弹出“新增比赛资料”窗口
            addMatch: function() {
                this.opMatch = {};
                this.operate = "add";
                this.opMatch.matchType = "1";//默认为"联赛"
                $('#headerModMatch').html("新增比赛资料");
                $('#modMatch').modal('show');
                $('#modMatch').find('input','select','textarea').removeAttr("disabled");
                $('#modMatch').find('.modal-footer').show();
                this.resetMatchForm();

                $("#divModMatch").show();
                $("#divTeamList").hide();
            },
            //弹出"修改比赛资料"窗口
            editMatch: function(match){
                this.opMatch = match;
                this.operate = "edit";
                $('#headerModMatch').html("修改比赛资料");
                $('#modMatch').modal('show');
                $('#modMatch').find('input','select','textarea').removeAttr("disabled");
                $('#modMatch').find('.modal-footer').show();

                $("#divModMatch").show();
                $("#divTeamList").hide();
            },
            //确认新增、修改操作
            matchModalConfirm: function(){
                if("add"===this.operate){
                    this.saveAddMatch();
                }else if("edit"===this.operate){
                    this.saveEditMatch();
                }
            },
            //保存新增操作
            saveAddMatch: function(){
                CommonOperation.ajaxRequest("saveMatch.html",this.opMatch,{
                    func: function(result){
                        if(result.success){
                            $('#modMatch').modal('hide');
                        }else{
                            alert("保存新增比赛资料失败:"+result.msg);
                        }
                        vm.refresh();
                    },
                    errorFunc: function(error){
                        alert("保存新增比赛资料失败:"+error);
                    },
                    element: $("#formMatch")
                });
            },
            //保存修改操作
            saveEditMatch: function(){
                delete this.opMatch.ctime;
                delete this.opMatch.mtime;
                CommonOperation.ajaxRequest("updateMatch.html",this.opMatch,{
                    func: function(result){
                        if(result.success){
                            $('#modMatch').modal('hide');
                        }else{
                            alert("修改比赛资料失败:"+result.msg);
                        }
                        vm.refresh();
                    },
                    errorFunc: function(error){
                        alert("修改比赛资料失败:"+error);
                    },
                    element: $("#formMatch")
                });
            },
            //删除
            delMatch: function(){
                var ids = "" , idObject = {};
                $('#tblMatchList tbody input:checkbox:checked').each(function(){
                    var id = $(this).val();
                    ids += id+",";
                    idObject[id] = true;
                });
                if(""===ids) return;
                ids = ids.substr(0,ids.length-1);
                $("#confirmModal").modal('show');
                $("#confirmButton").unbind("click");
                $("#confirmButton").bind("click",function(){
                    $("#confirmModal").modal('hide');
                    var param = {ids: ids};
                    CommonOperation.ajaxRequest("removeMatchs.html",param,{
                        func: function(result){
                            if(result.success){
                                $("#tblMatchList tbody").find("input[type='checkbox']").prop("checked",false);
                            }else{
                                alert("比赛删除失败:"+result.msg);
                            }
                            vm.refresh();
                        },
                        errorFunc: function(error){
                            alert("比赛删除出现异常:"+error);
                        },
                        element: $("#tblMatchList")
                    });
                });
            },

            showTeamList: function(){
                this.teams.splice(0,this.teams.length);
                this.iKeyword = "";
                this.iPageNo = 1;
                //加载客户列表
                vm.loadTeamList();
                $("#divModMatch").hide();
                $("#divTeamList").show();

            },

            queryTeam: function(){ //搜索球队
                this.iPageNo = 1;
                this.loadTeamList();
            },
            loadTeamList: function(){ //加载球队列表
                var param = {
                    keyword: this.iKeyword,
                    pageNo: this.iPageNo-1,
                    pageSize: this.iPageSize
                };
                CommonOperation.ajaxRequest("queryTeam.html",param,{
                    func: function(result){
                        var page = result.obj||{};
                        vm.pages = page.totalPages;
                        vm.total = page.totalElements;
                        vm.teams.splice(0,vm.teams.length);
                        var content = page.content;
                        $.each(content, function() {
                            vm.teams.push(this);
                        });
                    },
                    errorFunc: function(error){
                        alert("错误："+error.toString());
                    },
                    element: $("body")
                });
            },

            backModForm: function(){
                $("#divModMatch").show();
                $("#divTeamList").hide();
            },

            selectTeam: function(team,e){
                this.opponentName = team.name;
                this.opponentId = team.id;
            },

            confirmTeam: function(){
                $("#divModMatch").show();
                $("#divTeamList").hide();
            },


            //页面初始化
            initPage: function(){
                $.fn.datetimepicker.dates['zh-CN'] = {
                    days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
                    daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                    daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
                    months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    today: "今天",
                    suffix: [],
                    meridiem: ["上午", "下午"]
                };
                $("#seasonStartDate-field").datetimepicker({
                    format: "yyyy-mm-dd",
                    language: "zh-CN",
                    minView: "month",
                    //initialDate: new Date(),//初始化当前日期
                    autoclose: true,//选中自动关闭
                    todayBtn: true//显示今日按钮
                }).on('changeDate', function(ev){
                    vm.opMatch.seasonStartDate = $(ev.target).val();
                });
                $("#seasonEndDate-field").datetimepicker({
                    format: "yyyy-mm-dd",
                    language: "zh-CN",
                    minView: "month",
                    //initialDate: new Date(),//初始化当前日期
                    autoclose: true,//选中自动关闭
                    todayBtn: true//显示今日按钮
                }).on('changeDate', function(ev){
                    vm.opMatch.seasonEndDate = $(ev.target).val();
                });
                this.loadMatchs();
            }
        }
    });
    vm.initPage();
</script>


</body>
</html>