<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">标题</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}" />
    <script type="text/javascript" th:src="@{/js/script.js}" />0
</head>
<body>

<nav th:fragment="navigation">
    <a href="/list">显示列表</a> |
    <a href="/add">增加</a> |
    <a href="/remove">删除</a>
</nav>

</body>
</html>