<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="${title}">标题</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:href="@{/AdminLTE/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/AdminLTE/css/skins/skin-green.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}" />
    <script type="text/javascript" th:src="@{/AdminLTE/js/adminlte.min.js}" />
    <script type="text/javascript" th:src="@{/js/vue/vue.js}" />
    <script type="text/javascript" th:src="@{/js/script.js}" />
</head>
<body>

<nav th:fragment="navigation">
    <a href="/list">显示列表</a> |
    <a href="/add">增加</a> |
    <a href="/remove">删除</a>
</nav>

</body>
</html>